<h1>Stuff that you love</h1>

<% @passions.each do |passion| %>

<div class="box">
<h1><%= link_to passion.name, passion %> - <%= get_time passion %> Hours</h1>
<p><%= passion.description %></p>
<%= link_to 'Add a Practice Session', passion %> - 
<%= link_to 'Edit', edit_passion_path(passion) %> - 
<%= link_to 'x', passion, :confirm => 'Are you sure?', :method => :delete %>
</div>
<% end %>
</table>

<br />

<%= link_to 'New Passion', new_passion_path %>


