<h1>Listing passions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @passions.each do |passion| %>
  <tr>
    <td><%= passion.name %></td>
    <td><%= passion.description %></td>
    <td><%= link_to 'Show', passion %></td>
    <td><%= link_to 'Edit', edit_passion_path(passion) %></td>
    <td><%= link_to 'Destroy', passion, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Passion', new_passion_path %>
