<p id="notice"><%= notice %></p>

<h1>
  <%= @passion.name %><span style="font-size: 50%"> - <%= get_time @passion %> hours</span>
</h1>



<p>
  <%= @passion.description %>
</p>

<h2>Previous sessions</h2>

<%= render @passion.sessions %>


<h2>Add a session:</h2>

<%= render "sessions/form" %>


<%# link_to 'Edit', edit_passion_path(@passion) %>

<%= link_to 'Back to Passions', passions_path %>